.orange-border {
    border: solid darkorange;
}
.blue-border {
    border: solid pink;
}

.orange-border-bottom {
    border-bottom: solid darkorange;
}

.orange-border-left {
    border-left: solid darkorange;
}
.orange-border-right {
    border-right: solid darkorange;
}
.orange-border-top {
    border-top: solid darkorange;
}

.grey-border-top {
    border-top: solid grey;
}

.grey-border-bottom {
    border-bottom: solid grey;
}

.thin-border-1 {
    border-width: 1px;
}
.thin-border-2 {
    border-width: 2px;
}
.thin-border-3 {
    border-width: 3px;
}

.icon-orange {
    color: orange;
}

.modal {
    width: 70% !important ;
    max-height: 100% !important
}

.modal .modal-title {
    position: fixed;
    margin: -24px 0 -24px -24px;
    height: 64px;
    width: 100%;
}

.modal .modal-title h4{
  margin-top: 7px;
    margin-left: 12px;
}

iframe#ifm {
    position:absolute;
    background-color: #fff;
    top:64px;
    left:0px;
    bottom:0px;
    right:0px;
    width: 100%;
    height:100%;
    border:none;
    margin:0;
    padding:0;
    display: block;
}

@media only screen and (max-width: 601px) {
    iframe#ifm {
        position: absolute;
        background-color: #fff;
        top: 56px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
        display: block;
    }
}

.constrain {
    overflow-x: hidden;
}

#menu-tile {
    height: 100%
}

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: orange;
  transition: width .3s linear;
  /*z-index: 999;*/
  vertical-align: top;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs .indicator {
  background-color: darkorange;
}